/* Standard css reset */
* { 
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
 }
body {
    width:970px;
    margin-left:50px;
    background-color:#245076;
}
.inline {
    display:inline-block;
}
.aligntop {
    vertical-align:top;
}
.blacktext {
    color:black;
}
.whitetext {
    color:white;
}

#header {
    background-color:#245076;
    height:150px;
}
    #right_header {
        height:200px;
        width:300px;
    }
    #textsize {
        margin-left:105px;
    }
    #search_area {
        background-color:#444444;
        width:325px;
        height:60px;
        border-radius:15px;
        margin-left:20px;
    }
    #addborder {
        padding: 0px 5px 0px 5px;
        border-right: 1px solid black;
    }
#menubar {
    background-color: #467ead;
    width:800px;
    text-align:center;
    border-radius:10px;
    box-shadow: 5px 5px 2px #1f2328;
    margin:10px;
}
    #menubar li {
        font-size:24px;
        padding:10px;
    }
#content {
    background-color:#245076;
    text-align:center;
    margin:15px;
    font-size:22px;
}
    #content ul {
        list-style:none;
        padding: 2px;
    }
    #content ul li:before {
        color: yellow;
        font-size: 10px;
        content: '\226B';
    }
    #content ul li {
        padding:5px;
    }